# Environment
.env
venv.
.venv/
.env.*
!.env.example
.envrc
.environment


# Large datasets 
/datasets/raw/2026/overpass-turbo/data/
/datasets/raw/2025/
/datasets/raw/2025/tif/

__pycache__/
*.pyc
*.pyo

.env
*.env
secrets.toml

.ipynb_checkpoints/

/data/raw/
*.sqlite
*.db

# OS Generated
.DS_Store
.DS_Store?
*.swp
._*
Thumbs.db
ehthumbs.db
Desktop.ini


*.log
